*{
    background-color: black;
    font-family:Arial, Helvetica, sans-serif;
    touch-action: manipulation;
}

canvas{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-65%);
    z-index: 0;
    /* border-color: black;
    border-width: 5px;
    border-style: solid; */
}

.title{
    position: absolute;
    display: flex;
    background: inherit;
    top: 5%;
    left: 50%;
    flex-direction: row;
    font-size: 2.5rem;
    color: white;
    text-shadow: 0px 0px 10px lightblue;
    transform: translate(-50%,-50%);
    z-index: 2;
}

.month{
    position:absolute;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    color: white;
    background: inherit;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 3;
}

.game-panel{
    position: absolute;
    background: inherit;
    top: 65%;
    left: 50%;
    width: 70%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.question{
    color: white;
    background: inherit;
    margin-bottom: 2%;
    font-size: 1.5rem;
    top: 60%;
    left:50%;
    text-align: center;
    
}

.button-panel{
    margin-bottom: 20px;
    background: inherit;
    position: relative;
    user-select: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button{
    display: flex;
    justify-content: middle;
    align-items:center;
    background-color: blue;
    text-align: center;
    color:white;
    box-shadow: 0px 0px 10px 2px white;
    font-size: 1.5rem;
    caret-color: transparent;
    width: fit-content;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}

.button:hover{
    box-shadow: 0px 0px 10px 10px white;
    background-color: purple;
    transition: all 0.3s;
}

.score{
    width: 80%;
    
    height:auto;
    background-color: aquamarine;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
    z-index: 2;
    border-radius: 3px;
    padding: 5px;
}

.score span{
    background-color: inherit;
}

.passing{
    width: 80%;
    height:auto;
    margin-bottom: 2px;
    background-color: tomato;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
    z-index: 2;
    border-radius: 3px;
    padding: 5px;
}

.passing  span{
    background-color: inherit;
}

#gameNumber{
    float: right;
}

.instructions{
    position:fixed;
    background-color: gray;
    color: white;
    font-size: 1.5rem;
    font-weight: 800;
    right: 8%;
    z-index: 10;
    width: 15%;
    /* margin: 40px; */
    height: 40px;
    top: 10%;
    overflow: hidden;
    border-radius: 3px;
    padding-top: 10px;
    padding-bottom: 0px;
    display: inline-block;
    text-align: center;
}

.instructions span{
    background-color: black;
    text-align: left;
    display: block;
    
    font-size: 1rem;
    font-weight: 200;
    padding: 10px;
    cursor: pointer;
    overflow-wrap: break-word;
    margin-top: 10px;
}

.instructions:hover{
    box-shadow: 0px 0px 10px 10px white;
    animation: slide-down 1s steps(20,end) forwards;
}

.instructions:focus{
    box-shadow: 0px 0px 10px 10px white;
    animation: slide-down 1s steps(20,end) forwards;
}


@keyframes slide-down{
    from{height: 40px}
    to{height:fit-content}
}