*{
    background-color: black;
    font-family:Arial, Helvetica, sans-serif;
    touch-action: manipulation;
}

canvas{
    position: absolute;
    top:0;
    left:0;
}

.title{
    position: absolute;
    display: flex;
    top: 5%;
    left: 50%;
    flex-direction: row;
    font-size: 2.5rem;
    color: lightblue;
    text-shadow: 0px 0px 10px gray;
    transform: translate(-50%,-50%);
    z-index: 2;
}

.month{
    position:absolute;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    color: white;
    top: 20%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 3;
}

.game-panel{
    position: absolute;
    top: 65%;
    left: 50%;
    width: 70%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.question{
    color: white;
    margin-bottom: 5%;
    font-size: 1.5rem;
    top: 60%;
    left:50%;
    text-align: center;
    
}

.button-panel{
    position: relative;
    user-select: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button{
    display: flex;
    justify-content: middle;
    align-items:center;
    background-color: blue;
    text-align: center;
    color:white;
    font-size: 1.5rem;
    caret-color: transparent;
    width: fit-content;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}

.button:hover{
    box-shadow: 0px 0px 10px 10px white;
    background-color: purple;
    transition: all 0.3s;
}

.score{
    width: 80%;
    height:auto;
    background-color: aquamarine;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
    z-index: 2;
    border-radius: 3px;
    padding: 5px;
}

.score span{
    background-color: inherit;
}

.passing{
    width: 80%;
    height:auto;
    background-color: tomato;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
    z-index: 2;
    border-radius: 3px;
    padding: 5px;
}

.passing  span{
    background-color: inherit;
}